*.so
*.o
*.link
*.import.scm
*.build.sh
*.install.sh
.chicken-install/
tests/test-anchors
tests/test-buffer-lifetime
tests/test-location
tests/test-mutate
tests/test-navigate
tests/test-parse-errors
tests/test-quickstart
tests/test-scalars
tests/test-scheme
tests/test-streams
tests/test-thin
tests/mutate-output.yaml
